version: '3.9'

services:
  mongodb:
    image: mongo:7.0
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - mongo_data:/data/db

  app:
    build: .
    container_name: gestion-colis-app
    restart: always
    ports:
      - "8080:8080"
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://admin:admin123@mongodb:27017/gestioncolis?authSource=admin
      JWT_SECRET: mysecret123
      JWT_ISSUER: com.logistic
      JWT_EXPIRATION_MS: 3600000
    depends_on:
      - mongodb

volumes:
  mongo_data:
